archives/data/hf_login.txt
archives/tests/test_api.ipynb
archives/tests/hybrid_item_similarity_e5.npy
archives/tests/test_api.ipynb
archives/data/item_similarity.npy
archives/data/api_key.txt
archives/models/full_data_mtx.npy
archives/models/item_similarity.npy
archives/models/hybrid_item_similarity.npy
archives/models/hybrid_item_similarity_e5.npy
data\interactions_train.csv
data\items.csv
data\sample_submission.csv
data\enriched_items_merge_openlibrary_googlebooksAPI.csv